<ion-view view-title="工地明细">
  <ion-content>
    <ion-list>
      <ion-item class="item-divider item-gap">
      </ion-item>

      <ion-item class="item-avatar">
        工地基本信息
      </ion-item>

      <ion-item class="item-divider">
        最新工地计划
      </ion-item>
      <ion-item class="item-avatar">
        工地计划信息1
      </ion-item>
      <ion-item class="item-avatar">
        工地计划信息2
      </ion-item>
      <ion-item class="item-avatar">
        工地计划信息3
      </ion-item>

      <ion-item class="item-divider">
        供货情况
      </ion-item>

      <ion-item class="item-avatar">
        供货情况1
      </ion-item>
      <ion-item class="item-avatar">
        供货情况2
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
