<div class="modal">
  <ion-content>
    <div class="list">

      <label class="item item-input">
        <div class="input-label">
          外网服务器地址
        </div>
        <input type="text" ng-model="url" placeholder="请录入外部服务器地址（必须）">
      </label>

      <button class="button button-block button-stable" ng-click="changeUrl()">
        <i class="icon ion-ios-personadd-outline"></i>&nbsp;改变URL
      </button>

      <button class="button button-block button-balanced" ng-click="signIn()">
        <i class="icon ion-log-in"></i>&nbsp;登录
      </button>
    </div>
  </ion-content>
</div>
