# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/

#idea files
.idea/

hooks/
plugins/
node_modules/
platforms/
.idea/

config.js
.cov
coverage
node_modules
bower_components
npm-debug.log
.naeindex
coverage.html
.monitor

# Ignore Mac OS desktop services store
.DS_Store

# Ignore Windows desktop setting file
desktop.ini

# Ignore project outputs

dist/
*.min.*.js
*.min.*.css
assets.json

*.log
*.csv
*.dat
*.out

target/
log/
logs/

# IDE

.idea/
public/upload/*
*.iml

.classpath
.project
.settings/
build/

*.sublime-project
*.sublime-workspace
*.swp